<a href="https://colab.research.google.com/github/Revanthkola/Data_Analysis_With_Python/blob/main/DA_DAY1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=5
print("i am",a,"Years old")

i am 5 Years old

**Operators**

In [ ]:
a=int(input("enter a value : "))
b=int(input("enter b value : "))
n=10
c=a*b

for i in range(1,n):
  print(i)

enter a value : 12
enter b value : 12
1
2
3
4
5
6
7
8
9

In [ ]:
a=6
b=4
c=a+b
print(c)

10

**Operators**

In [ ]:
print(2**5)

32

In [ ]:
print(2**5)

32

In [ ]:
a=6
b=6
print(a==b)
print(a>b)
print(a<b)
print(a<=b)
print(a>=b)
print(a!=b)

True
False
False
True
True
False

In [ ]:
#logical
a=109
b=250
print((a>b) and (a<b))

False

In [ ]:
print((a>b) or (a<b))

True

In [ ]:
#member
a={10,20,30,40,50}
b={60,70,20,30,80}
print(40 not in b)
print(60 in a)

True
False

**Control Flow**

In [ ]:
#conditionl if
#write a program to get anumber from the user and check whether it is positive or negative
a=int(input("enter a value :"))
print(type(a))

enter a value :10
<class 'int'>

In [ ]:
#type casting
a=6
n=float(a)
print(n)
print(type(n))

6.0
<class 'float'>

In [ ]:
#positive or negative
a=int(input("enter a number : "))
if(a>0):
  print("it is positive")
if(a<0):
  print("it is negative")
if(a==0):
  print("it is either positive or negative")

enter a number : 10
it is positive

In [ ]:
a=int(input("enter the integer :"))
n=float(a)
print(n)
print(type(a))

enter the integer :10
10.0
<class 'int'>

In [ ]:
a=int(input("enter a number : "))
if(a>0):
  print("it is positive")
elif(a<0):
  print("it is negative")
else:
  print("it is either positive or negative")

enter a number : 10
it is positive

In [ ]:
#looping
a=int(input("enter a value"))
for i in range(1,11,1):
  n=a*i
  print(n)

enter a value2
2
4
6
8
10
12
14
16
18
20

In [ ]:
a=65.6
b=7
print(a*b)
print(a+b)
print(int(a+b))
print(int(a*b))

459.19999999999993
72.6
72
459

In [ ]:
a=45
a=float(a)
print(type(a))
print(a)

<class 'float'>
45.0

In [ ]:
#slicing
a="python is easy"
print(a[0:6])

python

In [ ]:
print(a[5:9])

n is

In [ ]:
print(a[10:15])

easy

In [ ]:
print(a[::-1])

ysae si nohtyp

In [ ]:
print(a[::-2])

ya inhy

In [ ]:
a=int(input("enter a number"))
while a < 10 :
  print(a)
  a+=1

enter a number1
1
2
3
4
5
6
7
8
9

In [ ]:
a=int(input("enter a number"))
i=0
while i < 20 :
  i+=1
  n=a*i
  print(n)

enter a number1
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

Collections : List :-List is a collection of elements -heterogeneous-mutable(modifibale)

In [ ]:
a=[10,"killer",90.8,45]
print(a)

[10, 'killer', 90.8, 45]

In [ ]:
a.append(20)
print(a)

[10, 'killer', 90.8, 45, 20]

In [ ]:
for i in a:
  print(i)

10
killer
90.8
45
20

In [ ]:
for i in a:
  i=10
  print(i)

10
10
10
10
10

In [ ]:
#insert
a.insert(3,"hi")
print(a)

[10, 'killer', 90.8, 'hi', 45, 20]

In [ ]:
#extend
a=[10,20,30,40,50]
b=["mam","jwalitha"]
a.extend(b)
print(a)

[10, 20, 30, 40, 50, 'mam', 'jwalitha']

In [ ]:
#pop
a.pop(2)

30

In [ ]:
a.remove("jwalitha")
print(a)

[10, 20, 40, 50, 'mam']

In [ ]:
a=[10,20,30]
maxvalue=max(a)
print(a)
print(maxvalue)

[10, 20, 30]
30

In [ ]:
#max value of list
a=[10,20,30,40,50,60]
maxvalue=max(a)
print(max(a))

60

**List comprehension -Iterators-applies-conditions-output:list**

In [ ]:
i1=[45,67,89,90]
i2=[i**2 for i in i1]#output iterate condition
print(i2)

[2025, 4489, 7921, 8100]

In [ ]:
type(i2)

list

In [ ]:
i2=[i**2 for i in i1 if i>50]
print(i2)

[4489, 7921, 8100]

In [ ]:
# the salaries of 5 employees in a company is taken as a list.the tax is 10% if the salary is less than or = to 5000
#or it is 15%
#create a new list with tax amounts
#[67000,45000,89000,34000,50000]
#list name=[(body of if)   (condition)  else  (body of else)iterate

The salaries of 5 employees in a company is taken as a list.the tax is 10% if the salary is less than or = to 5000 or it is 15% create a new list with tax amounts [67000,45000,89000,34000,50000] list name [(body of if)   (condition)  else  (body of else)iterate]** **bold text**

In [ ]:
salary=[67000,45000,89000,34000,50000]
tax=[]
for i in salary:
  if i <= 50000:
    t=i*0.1
    tax.append(t)
  else:
    t=i*0.15
    tax.append(t)
print(tax)

[10050.0, 4500.0, 13350.0, 3400.0, 5000.0]

In [ ]:
salary=[67000,45000,89000,34000,50000]
tax=[i*0.1 if i<=50000 else i*0.15 for i in salary]
print(tax)

[10050.0, 4500.0, 13350.0, 3400.0, 5000.0]